* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: #414e66;
    --sub-bg-color: #f2f7fb;
    --top-height: 70px;
    --main-transition: all 0.3s ease;
}
a {
    text-decoration: none;
    color: unset;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #000;
}
li {
    list-style: none;
}
.row-grid {
    display: grid;
    justify-content: space-between;
}
.main-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-transition);
}
.main-btn:hover {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}
.edit-class {
    background-color: #108010;
    color: #ffffff;
    padding: 3px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-transition);
}

.delete-class {
    background-color: #dd2c44;
    color: #ffffff;
    padding: 3px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-transition);
}

/* main admin */
.admin .row-grid {
    grid-template-columns: 20% 80%;
}
/* sidebar */
.admin .admin-sidebar {
    background-color: var(--main-bg-color);
    height: 100vh;
}
.admin-sidebar-header img {
    height: 70px;
    margin-bottom: 20px;
}
.admin-sidebar-header {
    text-align: center;
    color: var(--sub-bg-color);
    padding-bottom: 20px;
    border-bottom: 1px solid var(--sub-bg-color);
    height: var(--top-height);
}
.admin-sidebar-menu {
    color: var(--sub-bg-color);
    padding: 30px 0 0 30px;
}
.admin-sidebar-menu ul li a i {
    margin-right: 6px;
}
.admin-sidebar-menu > ul li {
    padding: 6px 0;
    transition: var(--main-transition);
}
.admin-sidebar-menu ul li:hover {
    background-color: #2c3b5a;
}
.admin-sidebar-menu > ul > li > a {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.admin-sidebar-menu > ul > li > a i:last-child {
    margin-left: auto;
}
.admin-sidebar-menu ul li ul li {
    font-size: 14px;
    text-align: left;
    padding-left: 12px;
}
.sub-menu {
    height: 0;
    overflow: hidden;
    transition: var(--main-transition);
}
.sub-menu.active {
    height: 60px;
}
.sub-menu ul li {
    padding: 6px 0;
}
/* content */
.admin-content {
    background-color: var(--sub-bg-color);
}
.admin-content-top {
    height: var(--top-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #ccc;
}
.admin-content-top-right img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--main-bg-color);
}
.admin-content-top-left,
.admin-content-top-right {
    display: flex;
    align-items: center;
}
.admin-content-top-left i,
.admin-content-top-right i {
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
}
.admin-content-top-right-item {
    display: flex;
}
.admin-content-top-right-item:last-child {
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
}
.admin-content-top-right-item p {
    margin-left: 10px;
}
.admin-content-top-right-item p > i {
    padding: 0;
}
.admin-content-top-right-item:first-child i {
    position: relative;
}
.admin-content-top-right-item:first-child i::after {
    content: attr(number);
    width: 15px;
    height: 18px;
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: #4a87ce;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: notification 2s infinite;
}
.admin-content-top-right-item:nth-child(2) i {
    position: relative;
}
.admin-content-top-right-item:nth-child(2) i::after {
    content: attr(number);
    width: 15px;
    height: 18px;
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: #dd2c44;
    color: #fff;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: notification 2s infinite;
}
@keyframes notification {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.admin-content-main-title h2 {
    padding: 12px;
    font-weight: 500;
    position: relative;
}
.admin-content-main-title h2::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #000;
    left: 12px;
    bottom: 5px;
    border-radius: 20px;
}
/* product add */
#input-file-img img {
    width: 120px;
    object-fit: cover;
    padding: 12px 0;
}
#input-file-imgs {
    display: grid;
    columns: 2;
    grid-template-columns: repeat(2, 40%);
    grid-gap: 10px;
}
#input-file-imgs img {
    width: 100px;
    object-fit: cover;
    padding: 12px 5px;
}
.admin-content-main-content-product-add {
    padding: 12px;
    display: grid;
    grid-template-columns: 80% 20%;
}
/* .admin-content-main-content-product-right {
    padding-bottom: 100px;
} */
.admin-content-main-content-two-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px 0;
}
.admin-content-main-content-two-input input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 12px;
    width: 30%;
}

.admin-content-main-content-two-input select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 12px;
    width: 20%;
}
textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 12px;
    width: 100%;
}

.admin-content-main-content-button {
    display: flex;
    justify-content: center;
}

.admin-content-main-content-input-image input,
.admin-content-main-content-input-images input {
    display: none;
}
.admin-content-main-content-input-image label,
.admin-content-main-content-input-images label {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--main-bg-color);
    color: #fff;
    cursor: pointer;
}
.admin-content-main-content-input-image,
.admin-content-main-content-input-images {
    display: grid;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
    padding-left: 12px;
}
/* product list */
.admin-content-main-content-product-list {
    display: grid;
    grid-template-columns: 100%;
    padding: 12px;
    background-color: #fff;
}
.admin-content-main-content-product-list table {
    width: 100%;
    border-collapse: collapse;
}
.admin-content-main-content-product-list table thead th {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.admin-content-main-content-product-list table tbody tr td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-align: center;
}
.admin-content-main-content-product-list table tbody tr td img {
    width: 70px;
    height: 100px;
    object-fit: cover;
}
.admin-content-main-content-product-list table tbody tr td:last-child {
    align-items: center;
    text-align: center;
}
/* oder */
.admin-content-main-content-oder {
    display: grid;
    grid-template-columns: 100%;
    padding: 12px;
    background-color: #fff;
}
.admin-content-main-content-oder table {
    width: 100%;
    border-collapse: collapse;
}
.admin-content-main-content-oder table thead th {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
.admin-content-main-content-oder table tbody tr td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    align-items: center;
    font-size: 12px;
}
.admin-content-main-content-oder table tbody tr td a {
    display: block;
    align-items: center;
    text-align: center;
}
.confirm-oder {
    background-color: #108010;
    color: #ffffff;
    padding: 3px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-transition);
}
.non-confirm-oder {
    background-color: #dd2c44;
    color: #ffffff;
    padding: 3px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--main-transition);
}
/*  */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@media print {
    body {
        margin: 0 !important;
    }
}

.main-container {
    font-family: "Lato";
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.ck-content {
    font-family: "Lato";
    line-height: 1.6;
    word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
    min-width: 795px;
    max-width: 795px;
}
.ck.ck-editor__editable {
    min-height: 200px;
}
